:root {
    // font-family
    --ff-manrope: 'Manrope', sans-serif;

    // background
    --bg-clr: hsl(0, 0%, 90%);
    --main-clr: hsl(0, 0%, 96%);

    // text clr 
    --head-txt-clr: hsl(217, 19%, 35%);
    --sub-txt-clr: hsl(214, 17%, 51%);
}